<a{% for attr, value in options %} {{ attr }}="{{ value }}"{% endfor %}>{{ title }}</a>
{% if options['class'] == 'asc' %}<span class="icon-arrow-down icon-white"></span>{% endif %}
{% if options['class'] == 'desc' %}<span class="icon-arrow-up icon-white"></span>{% endif %}