{% extends "RodinaCabinetBundle::base.html.twig" %}

{% block cabinet_main_div %}

{% trans_default_domain 'FOSUserBundle' %}

<div class="row-fluid">
    
    <div class="span8 offset2 well well-large row-shadow" style="background:white;">
        
        <div class="row">
            
	    <div class="span11 offset1 text-center">
	        {{ 'resetting.password_already_requested'|trans }}
            </div>
            
        </div>
        
    </div>
</div>

{% endblock %}
