<div class="well well-large row-shadow backg_info">
    <div class="row-fluid">
        <div class="span1 text-center">
            <img src="/uploads/contents/icon_info_small.png" alt="INFO" />
        </div>
        <div class="span11">
            <p>Для просмотра необходимо скачать и установить <a href="http://www.videolan.org/" target="_blank">VLC plugin</a> вместе с полной версией VLC плеера, или вручную для Linux систем, и перезагрузить браузер.</p>
            <p>Рекомендуемые веб-браузеры: Mozilla FireFox, Google Chrome, Internet Explorer (версии 7,8), Safari.</p>
        </div>
    </div>
</div>
<p>&nbsp;</p>